.a {
    background-color:#0b695d;
    padding: 20px;
    text-align: center;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0b695d;
    color: #f8f8f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: right; 
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #0b695d;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #0b695d;
    }
    tr:nth-child(even) {
        background-color: #0b695d;
    }
    h1{
        text-align: center;
    }
